*{
    background-color: blanchedalmond;
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal; 
}
p{
    height: 200px;
    background-color: rgba(49, 10, 221, 0.479);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#one{
    display: flex; /*needs to be a div*/
    flex-direction: column;
}
img{
    height: 150 px;
}

#img{
    display: flex;
    justify-content: center;
}
/*generic font families, always end with one of these
1. Serif (looks like Arial)
2. Sans-serif
3. Monospace
4. Cursive (default comic sans)
5. Fantasy (decorative)*/